{{#partial "content"}}

    <div class="text-center offset-1 col-md-10">
        {{#if heroes}}

            <h2 class="">Available Heroes</h2>
            {{#each heroes}}
                <h2>Hero Name :{{name}}</h2>
                <p>Hero's Age :{{age}}</p>
                <p>Hero's Power:{{power}}</p>
                <p>Hero's Weakness:{{weakness}}</p>
                {{#if allocatedSquad}}
                    <h3>Hero's Squad: {{squad}}</h3>
                {{/if}}
            {{/each}}
            <a href="/hero-form">
                <div class="text-center  ">
                    <blockquote class="style3 ">
                        <h3>Add More Heroes</h3>

                    </blockquote>
                </div>
            </a>
            <br>
        <a href="/display-heroes">
        <div class="text-center">
            <blockquote class="style3 ">
                <h3>View All Heroes</h3>

            </blockquote>

        </div>
        </a>
        {{else}}
            <a href="/hero-form" class="text-center">
                <blockquote class="style2">
                    <h3>Add Heroes</h3>

                </blockquote>


            </a>

        {{/if}}

    </div>

{{/partial}}
{{>layout.hbs}}